<div class="leave-item">
  <div class="profile">
    <img [src]="item.profileImg" alt="" />
    <span class="name">{{ item.name }}</span>
  </div>
  <div class="type">
    <span class="leaveTypeShort">{{ item.leaveTypeShort }}</span>
    <span class="leaveTypeLong">{{ item.leaveType }}</span>
  </div>
  <div class="days">{{ item.days }} days</div>
  <div class="status">
    @switch (item.status) { @case ("Approved") {
    <img src="./../assets/icons/Approved Icon.svg" alt="" />
    } @case ("Pending") {
    <img src="./../assets/icons/Pending Icon.svg" alt="" />
    } @case ("Rejected") {
    <img src="./../assets/icons/Rejected Icon.svg" alt="" />
    } @default {
    <img src="./../assets/icons/Approved Icon.svg" alt="" />
    } }

    <span
      [ngStyle]="{
        color:
          item.status === 'Approved'
            ? 'green'
            : item.status === 'Pending'
            ? 'orange'
            : 'red'
      }"
      >{{ item.status }}</span
    >
  </div>
  <button class="moreBtn">
    <img src="./../assets/icons/More Button.svg" alt="" />
  </button>
</div>
