<div class="container">
  <div class="card">
    <header>
      <div class="title-group">
        <img
          src="../assets/icons/Team User.svg"
          alt="team user"
          class="title-img"
        />
        <span class="title-text">Team Leaves</span>
      </div>
      <div class="btn-group">
        <div class="sub-btn-group">
          <button>
            <img src="../assets/icons/Self Icon.svg" alt="" />
          </button>
          <button class="active">
            <img src="../assets/icons/Team Icon.svg" alt="" />
          </button>
        </div>

        <button>
          <img src="../assets/icons/Add Icon.svg" alt="" />
        </button>
      </div>
    </header>
    <main class="leave-list custom">
      @for (item of LeaveLists; track $index) {
      <app-leaveitem [item]="item"></app-leaveitem>
      }
    </main>
  </div>
</div>
