.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
    width: clamp(400px, 80vw, 800px);
    height: 315px;
    flex-direction: column;
    header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .title-group {
        display: flex;
        align-items: center;
        gap: 6px;
        .title-img {
          width: 25px;
          height: 25px;
        }
        .title-text {
          font-weight: "futura lighter";
          color: var(--secoundary);
        }
      }
      .btn-group {
        display: flex;
        gap: 10px;
        .sub-btn-group {
          display: flex;
          padding: 2px;
          gap: 2px;
          border: var(--border);
          border-radius: 4px;
          align-items: center;
          button {
            border: none;
            background: transparent;
            padding: 2px 3px;
            img {
              width: 15px;
              height: 15px;
              background: transparent;
            }
          }
        }
        button {
          border: none;
          background: transparent;
          img {
            width: 10px;
            height: 10px;
            background: transparent;
          }
        }
      }
    }
    .leave-list {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      overflow-y: scroll;
    }
  }
}

.active {
  background: var(--primary) !important;
  border-radius: 4px;
}
